app-column-chart {
  display: inline-block;
  text-align: center;
}
.content-container {
  margin: auto;
}
.delete-choose {
  font-size: 20px;
  width: 2em;
  height: 2em;
  background-color: white;
  border: none;
}
// .delete-choose:hover {
//   color: red;
// }
.delete-choose:hover + .date-picker {
  box-shadow: 0px 0px 8px red;
}
