<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
    [nzCollapsedWidth]="0"
  ></nz-sider>
  <nz-sider
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
    style="position: fixed"
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
    [nzCollapsedWidth]="1"
  >
    <div class="sidebar-logo">
      <!-- <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design Of Angular</h1>
      </a> -->
      <h1>Phần mềm quản lý chi tiêu</h1>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-submenu nzOpen nzTitle="Quản lý" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/cthn">Chi tiêu hằng ngày</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dashboard/monthchart">Bảng thống kê theo tháng</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dashboard/monthcompare"
              >So sánh chi tiêu các tháng</a
            >
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/test">Test</a>
          </li>
        </ul>
      </li>
    </ul>
    <span
      *ngIf="!isCollapsed"
      class="header-trigger"
      (click)="isCollapsed = !isCollapsed"
    >
      <span
        style="color: white; bottom: 1em; position: absolute; right: 1em"
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
      ></span>
    </span>
    <span
      *ngIf="isCollapsed"
      style="
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(100%, 0);
        background-color: white;
      "
      class="header-trigger"
      (click)="isCollapsed = !isCollapsed"
    >
      <span
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
      ></span>
    </span>
  </nz-sider>

  <nz-layout>
    <nz-header>
      <div class="app-header"></div>
    </nz-header>
    <nz-content>
      <nz-card>
        <router-outlet></router-outlet>
      </nz-card>
      <!-- <div class="inner-content">
      </div> -->
    </nz-content>
  </nz-layout>
</nz-layout>
